/* style for helpdesk */

/* wropper  -------------------------------------  */
#wropper{
    margin:8px;
}



/******* HEADER ******/
#admin_face_main{
    float:right;
}
/* загрузка индикатор */
#loading_wrop{
    width: 35px;
    height: 35px;
    float:left;
}
#loading{
    background: url("../img/loading.gif") no-repeat;
    width: 35px;
    height: 35px;
    display: none;
}
#menu{
    position:relative;
}
/* конец загрузки нидикатора */



/******* END HEADER  ******/


/******* MAIN *******/
#main{
    clear:both;
}
/* талица с данными */
.m_table{
   border:1px solid #cccccc; 
   border-collapse:collapse;
   width:100%;
}
.m_table td, .m_table th{
    border:1px solid #CCCCCC;
}
.m_hover tbody tr:hover td{
    background-color: #6699ff;
    cursor: pointer;
}
.preTable, .postTable{
    height:30px;
    border:1px solid #cccccc;
}
.preTable{
    background: url("../img/nav-bg-reverse.gif") repeat-x scroll 0 -10px white;
    border-bottom: 1px solid #DDDDDD;
    color: #999999;
    font-size: 13px;
    padding: 7px;
    border-bottom:none;
}
.postTable{
    background: url("../img/nav-bg.gif") repeat-x scroll 0 100% white;
    border-top: medium none;
    color: #666666;
    overflow: hidden;
    padding: 10px;
    border-top:none;
}
.preTable p{
    margin:0;
    height:100%;
    padding:5px 0 0 0;
}
.firstTd{
    background: none repeat scroll 0 0 #EDF3FE;
}
.m_table td{
    padding:3px 5px;
}
.m_table th{
    padding:6px;   
}
.dateCol{
    text-align:center;
    width:5%;
}
.proq5Col{
    width:5%;
}
.plus{
    background: #C8FFCB;
}
.minus{
    background: yellow;
}
/* end table */

/* question chat */
#question_for_chat{
    margin: 15px 0;
}
.div-label{
    display: table-cell;
    width: 200px;
    text-align: right;
    padding-right: 15px;
}
.div-value{
    display: table-cell;
}
.question_table{
    display: table;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
}
.question_table_row{
    display: table-row;
}
#question_body{
    font-style:italic;
}
.red_font{
    color:red;
}
.green_font{
    color:green;
}

/**** форма отправки сообщения в чате */
#messForm{
    margin-bottom: 20px;
    background: #eee;
}
textarea#id_body{
    width:600px;
    height:150px;
}

/*  message info alert success */
#message_wrop{
    position:absolute;
    margin:0 0 0 35%;
}
/* chat message */
.oneMsg{
    border-radius: 11px;
    padding: 10px;
    margin:0 0 10px 0;
    border:2px solid #ccc;
    display: none;
}


.chatForm{
    border-radius: 11px;
    padding: 10px;
}

.oneMsgAdmin{
    border:2px solid #AEC5FF;
}

.oneMsgUser{
    border:2px solid #93DC8F;
}

.userName{
    font-weight: bold;
    margin:0 0 5px 0;
}
#choise_company, #choise_dep{
    float:left;
    margin: 0 10px 0 0;
}
#ajax_pc_list{
    clear:both;
}

/******* END MAIN *******/
