{% extends 'main.html' %}

{% block title %}
    Добавление статьи
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
    <h1>Добавление новый статьи</h1>
    <div id="add_page">
        <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Создать">
        </form>
    </div>
{% endblock %}


{% block head_script %}
    {{ form.media }}
    <script type="text/javascript">

    </script>
{% endblock %}