{% extends 'main.html' %}

{% block title %}
    Задать вопрос
{% endblock %}


{% block content %}
    <h2>Задать вопрос</h2>
    <div class='container-fluid'>
        <div class="row-fluid">
        </div>
        <div class='row-fluid'>
            <div class='span10 well white-well'>
                <div class="row-fluid">
                    <div class='span12'>
                        <div id="face_wrop">
                            <p>Фотография получателя</p>
                            <div id="admin_face">
                                <img src="{{ MEDIA_URL }}img/fregat_logo.png" width="70" height="70">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class='span12'>
                        <form action="" method="POST" class="form-horizontal" name="{{ form.get_name }}">{% csrf_token %}
                            {% include 'form_template.html' with form=form %}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class='btn btn-primary btn-large'>Создать вопрос</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class='span2'></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
    var start = false;
    function OnchangeUserTo()
    {
        $('#id_user_to').change(function(){
            GetPostForUserTo();
        });
    }
    function GetPostForUserTo()
    {
        var select_post = $('#id_post');
        var loading = $('#loading');
        var value_user_to = $('#id_user_to').val();
        loading.fadeIn();
        select_post.fadeOut();
        select_post.empty();
        select_post.removeAttr('disabled');
        select_post.append('<option value="" selected="selected">---------</option>');
        if(value_user_to)
        {
            $.ajax({
                url : '/ajax/get_posts_for_add_ques/'+value_user_to+'/',
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    var counter = CountObjectProperty(data);
                    if(counter != 0){
                        $.each(data, function(id, value){
                            select_post.append('<option value="'+id+'" >'+value+'</option>');
                        });
                    }else{
                        var text = 'Для данного полльзователя нет должностей.';
                        AddMessageError(text);
                    }
                    if(! start)
                    {
                        var getPost = getUrlVars()['post'];
                        if(getPost)
                        {
                            select_post.val(getPost);
                        }
                        start = true;

                    }
                    select_post.fadeIn();
                    loading.fadeOut();
                }
            });
        }else{
            select_post.attr('disabled',"disabled");
            select_post.fadeIn();
            loading.fadeOut();
        }
    }
    function CheckNullPcFrom()
    {
        var select_user_from = $('#id_user_from');
        var loading = $('#loading');
        var options_len = $('option', select_user_from).length;
        loading.fadeIn();
        if( options_len < 2){
            var text = 'У вас нет зарегистрированных компьютеров.';
            AddMessageError(text);
        }
        loading.fadeOut();
    }
    function GetUserToFromGET()
    {
        var userToGet = getUrlVars()['user'];
        if(userToGet)
        {
            $("#id_user_to").val(userToGet);
        }
    }
    function GetUserToImg()
    {
        $('#id_user_to').change(function(){
            $('#admin_face').css('background', 'url() transparent');
            $('#admin_face img').fadeOut();
            var id = $(this).val();
            if(id!=0){
                $.ajax({
                    url: '/ajax/get_profile_src_img/'+id+'/',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        if(data.img_src)
                        {
                            $('#admin_face img').attr('src', data.img_src);
                        }else{
                            $('#admin_face img').attr('src', "{{ MEDIA_URL }}img/fregat_logo.png");
                        }
                        $('#admin_face img').fadeIn();
                    }
                });
            }
        });
    }
    function GetUserToImgStart()
    {
        $('#admin_face img').fadeOut();
        var id = $('#id_user_to').val();
        if(id!=0)
        {
            $.ajax({
                        url: '/ajax/get_profile_src_img/'+id+'/',
                        type: 'GET',
                        dataType: 'json',
                        success: function(data){
                            if(data.img_src)
                            {
                                $('#admin_face').css('background', '');
                                $('#admin_face img').attr('src', data.img_src);
                            }else{
                                $('#admin_face img').attr('src', "{{ MEDIA_URL }}img/fregat_logo.png");
                            }
                            $('#admin_face img').fadeIn();
                        }
                    });
        }
    }
    function GetPcFrom()
    {
        var loading = $('#loading');
        var department = $('#id_department').val();
        var pcFrom = $('#id_user_from');
        loading.fadeIn();
        pcFrom.fadeOut();
        pcFrom.empty();
        pcFrom.append('<option selected="selected" value="">---------</option>');
        if(department){
            pcFrom.removeAttr('disabled');
            $.ajax({
                url : '/ajax/get_user_from_for_ques/'+department+'/',
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    var counter = CountObjectProperty(data);
                    if(counter != 0){
                        $.each(data, function(id, value){
                            pcFrom.append('<option value="'+id+'">'+value+'</option>');
                        });
                    }else{
                        var text = 'В данном отделе нет комьютеров.';
                        AddMessageError(text);
                        pcFrom.attr('disabled', 'disabled');
                    }
                    pcFrom.fadeIn();
                    loading.fadeOut();
                }
            });
        }else{
            pcFrom.attr('disabled', 'disabled');
            pcFrom.fadeIn();
            loading.fadeOut();
        }
    }
    function OnChangeDep()
    {
        $('#id_department').on('change', function(){
            GetPcFrom();
        });
    }
    $(document).ready(function(){
        GetUserToImg();
        OnchangeUserTo();
        GetUserToFromGET();
        GetUserToImgStart();
        GetPostForUserTo();
        CheckNullPcFrom();
        GetPcFrom();
        OnChangeDep();
    });
    </script>
{% endblock %}