{% extends 'main.html' %}

{% block title %}
    Добавить новую компанию
{% endblock %}

{% block content %}
    <h1>Добавление новой компании</h1>
    <div class='red_error'>
        <p>
            {% if error_msg %}
                {{ error_msg }}
            {% endif %}
        </p>
    </div>
        <div id='question' class='borderLine'>
            <form action="{% url add_company %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <table id='tableForm' class='user_add'>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Создать" />
            </form>
        </div>
{% endblock %}

{% block script %}

{% endblock %}