{% extends 'main.html' %}

{% block script %}
    <script>
        function GetCompany(){
            var select_company = $('#id_company');
            var loading        = $('#loading');
            loading.fadeIn();
            select_company.hide();
            $.ajax({
                url: '/ajax/get_company_for_pc_add/',
                type: 'GET',
                dataType: 'json',
                success : function(data){
                    select_company.empty();
                    select_company.append('<option value="0" selected="selected">---------</option>');
                    var count = CountObjectProperty(data);
                    if(count != 0){
                        $.each(data, function(id, value){
                            select_company.append('<option value="'+id+'">'+value+'</option>');
                        });
                    }else{
                        CheckNullCompanyList();
                    }
                    select_company.fadeIn();
                    loading.fadeOut();
                }
            });
        }
        function CheckNullCompanyList(){
            if($('#id_company option').length == 1){
                var text = 'Если список компаний пуст, то не обслуживаете ни одну из компаний';
                AddMessageError(text);
            }
        }
        function GetDepForCompany()
        {
            var select_dep     = $('#id_departament');
            var select_company = $('#id_company');
            var loading        = $('#loading');
            var company        = select_company.val();
            loading.fadeIn();
            select_dep.fadeOut();
            select_dep.empty();
            select_dep.append('<option value="0" selected="selected">---------</option>');
            if(company != 0){
                $.ajax({
                    url : '/ajax/get_dep_list_for_add_pc/'+company+'/',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        var count = CountObjectProperty(data);
                        if(count != 0){
                            select_dep.removeAttr('disabled');
                            $.each(data, function(id, value){
                                select_dep.append('<option value="'+value["id"]+'">'+value["name"]+'</option>')
                            });
                        }else{
                            select_dep.attr('disabled',"disabled");
                            var text = 'Добавьте отдел в данную компанию';
                            AddMessageError(text);
                        }
                        loading.fadeOut();
                        select_dep.fadeIn();
                    }
                });
            }else{
                BlockDepSelect();
                loading.fadeOut();
                select_dep.fadeIn();
            }
        }
        function GetDepOnCompanyChange()
        {
            var select_company = $('#id_company');
            select_company.change(function(){
                GetDepForCompany()
            });
        }
        function BlockDepSelect()
        {
            var select_dep = $('#id_departament');
            var select_company = $('#id_company');
            if(select_company.val() == 0){
                select_dep.attr('disabled',"disabled");
            }
        }
        $(document).ready(function(){
            GetCompany();
            BlockDepSelect();
            GetDepOnCompanyChange();
        });
    </script>
{% endblock %}

{% block title %}
    Добавление компьютера
{% endblock %}

{% block content %}
    <h1>Добавление компьютера в компанию</h1>
    <div id='question' class='borderLine'>
        <form action="{% url add_pc %}" method="POST">{% csrf_token %}
            <table id='tableForm'>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Добавить" />
        </form>
    </div>
{% endblock %}