{% extends 'main.html' %}

{% block title %}
    Задать вопрос
{% endblock %}


{% block content %}
    <h1>Задать вопроса</h1>
    <div id='question' class='borderLine'>
        <div class="note">
            <p>Представтесь пожалуйста</p>
        </div>
        <form action="{% url add_q %}" method="POST">{% csrf_token %}
            <table id='tableForm'>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Создать вопрос" />
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
    function GetPcFrom(){
        $('#loading').fadeIn();
        $('#id_user_from').hide();
                    $.ajax({
                        url: '/ajax/get_pc_from/',
                        dataType: 'html',
                        type:'GET'
                    }).done(function(data){
                                $('#id_user_from').empty().append(data).fadeIn();
                                $('#loading').fadeOut();
              });
    }
    function GetUserTo(){
        $('#loading').fadeIn();
        $('#id_user_to').hide();
        $.ajax({
            url: '/ajax/get_user_to/',
            dataType: 'html',
            type:'GET',
            success:function(data){
                $('#id_user_to').empty().append(data);
                $('#id_user_to').fadeIn();
                $('#loading').fadeOut();
                GetUserToFromGET();
            }
        });
    }
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function GetUserToFromGET(){
        var userToGet = getUrlVars()['user'];
        if(userToGet)
        {
            $('#id_user_to option').removeAttr('selected');
            $("#id_user_to option[value='"+userToGet+"']").attr('selected', 'selected');
        }
    }
    $(document).ready(function(){
        GetPcFrom();
        GetUserTo();

    });
    </script>
{% endblock %}