{% extends 'main.html' %}

{% block title %}
    Добавление статьи
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
    <h1>Добавление новый статьи</h1>
    <div id="add_page">
        <form method="POST" action="">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Создать">
        </form>
    </div>
{% endblock %}


{% block head_script %}
    {{ form.media }}
    <script type="text/javascript">
        function BlockSystemField()
        {
            var site_programmer = '{% if is_system_programmer %}1{% endif %}';
            var systemField = $('#id_system');
            if(site_programmer != 1)
            {
                systemField.closest('tr').hide();
                systemField.attr('disabled', 'disabled');
            }
        }
        $(document).ready(function(){
            BlockSystemField();
        });
    </script>
{% endblock %}