{% extends 'main.html' %}

{% block title %}
    Задать вопрос
{% endblock %}


{% block content %}
    <h2>Задать вопрос</h2>
    <div class='container-fluid'>
        <div class='row-fluid'>
            <div class='span10 well white-well'>
                <form action="" method="POST" class="form-horizontal" name="{{ form.get_name }}">{% csrf_token %}
                    {% include 'form_template.html' with form=form %}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class='btn btn-primary btn-large'>Создать вопрос</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class='span2'></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function OnchangeFields()
        {
            var user_to = $('#id_user_to');
            var for_all = $('#id_for_all');
            user_to.on('change', function(){
                GetPostForUserTo();
            });

            $('#id_for_all').on('click', function(){
                CheckCheckBox();
            });

            CheckCheckBox();
        }
        function CheckCheckBox()
        {
            var user_to = $('#id_user_to');
            var select_post = $('#id_post');
            var for_all = $('#id_for_all');
            var value = for_all.prop('checked');
            if(value){
                user_to.attr("disabled","disabled");
                user_to.val('0');
                select_post.attr("disabled","disabled");
                GetPostForUserTo();
            }else{
                user_to.removeAttr("disabled");
            }
        }
        function GetPostForUserTo()
        {
            var select_post = $('#id_post');
            var loading = $('#loading');
            var value_user_to = $('#id_user_to').val();
            loading.fadeIn();
            select_post.fadeOut();
            select_post.empty();
            select_post.removeAttr('disabled');
            select_post.append('<option value="" selected="selected">---------</option>');
            if(value_user_to)
            {
                $.ajax({
                    url : '/ajax/get_posts_for_add_ques/'+value_user_to+'/',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data){
                        var counter = CountObjectProperty(data);
                        if(counter != 0){
                            $.each(data, function(id, value){
                                select_post.append('<option value="'+id+'" >'+value+'</option>');
                            });
                        }else{
                            var text = 'Для данного полльзователя нет должностей';
                            AddMessageError(text);
                        }
                        select_post.fadeIn();
                        loading.fadeOut();
                    }
                });
            }else{
                select_post.attr('disabled',"disabled");
                select_post.fadeIn();
                loading.fadeOut();
            }
        }
        function CheckBoxForAll(){
            var value = $('#id_for_all').prop("checked");
            if(value){
                $('#id_user_to').attr("disabled","disabled");
                $('#id_user_to').val('0');
            }else{
                $('#id_user_to').removeAttr("disabled");
            }
        }
        $(document).ready(function(){
            CheckBoxForAll();
            OnchangeFields();
            GetPostForUserTo();
        });
    </script>
{% endblock %}