<div id="face_wrop">
    <p>Фотография выбранного куратора</p>
    <div id="admin_face_visilble">
        <img src="{{ question.user_to.profile.image.url }}" width="70" height="70">
    </div>
</div>
<table>
    <tbody id="q_table">
    <tr>
        <th>Дата создания вопроса:</th>
        <td>{{ question.date }}</td>
    </tr>
    <tr>
        <th>От кого:</th>
        <td>
            {{ question.user_from.first_name }}
            {% if question.user_from.last_name %}
                {{ question.user_from.last_name }}
            {% endif %}
            {% if question.pc_from %}
                : {{ question.pc_from }} {{ question.worker_from }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Кому:</th>
        <td>
            {{ question.user_to.first_name }}
            {% if question.user_to.last_name %}
                {{ question.user_to.last_name }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Вопрос:</th>
        <td class='chat_question_body'><div class='q_body'>{{ question.body }}</div></td>
    </tr>
    <tr>
        <th>Вопрос закрыт:</th>
        <td style='
                {% if question.user_check %}
                    color:green;
                {% else %}
                    color:red;
                {% endif %}
                '>
            {% if question.user_check %}
                Вопрос закрыт
            {% else %}
                Вопрос открыт
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Дата закрытия</th>
        <td>
            {% if question.user_check_date %}
                {{ question.user_check_date }}
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>