{% for mes in msgs_set %}
    <div class='oneMsg
                {% if mes.admin_name %}
                oneMsgAdmin
                {% else %}
                oneMsgUser
                {% endif %}
                '>
        <div class='userName'>
            {{ mes.date }} :
            {% if mes.admin_name %}
                {{ mes.admin_name.first_name }}
                {% if mes.admin_name.last_name %}
                    {{ mes.admin_name.last_name }}
                {% endif %}
            {% else %}
                {{ mes.question.user_from.first_name }}
                {% if mes.question.user_from.last_name %}
                    {{ mes.question.user_from.last_name }}
                {% endif %}
                {% if mes.question.pc_from %}
                    {{ mes.question.pc_from }}  {{ mes.question.worker_from }}
                {% endif %}
            {% endif %}
        </div>
        <p><div class='q_body'>{{ mes.body }}</div></p>
        <div id="files" >
            {%   if mes.files.all %}
                Прикрепленный файл:
                {% for item in mes.files.all %}
                    <a href="{{ item.file.url }}">имя:{{ item.name }},  размер:{{ item.size|filesizeformat }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endfor %}