{% extends 'main.html' %}

{% block title %}
    Список компаний
{% endblock %}

{% block content %}
    <h1>Список компаний</h1>
        <div class="preTable">
            <p>Количество компаний {{ paginator.count }}</p>
        </div>
        <table class='m_table m_hover'>
            <thead>
            <tr>
                <th>Логин</th>
                <th>Наименование</th>
            </tr>
            </thead>
            <tbody id="mainTable">
            {% for item in users %}
                <tr class='{% cycle 'firstTd' 'secondTd' %}' id="{{ item.id }}">
                    <td>{{ item.username }}</td>
                    <td>{{ item.first_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Нет компаний</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class='postTable'></div>
    <ul class="pager">
        {% if not page_obj.has_previous %}
        <li class='disabled'>
            <a href="#">&larr; Предыдущая</a>
        {% else %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" >&larr; Предыдущая</a>
        {% endif %}
        </li>
        <span class="current_page">Страница {{ page_obj.number }} из {{ paginator.num_pages }}.</span>
        {% if not page_obj.has_next %}
        <li class='disabled'>
            <a href="#">Следующая &rarr;</a>
        {% else %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">Следующая &rarr;</a>
        {% endif %}
        </li>
    </ul>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function GetComapnyCompanyAdmins()
        {
            $('tbody tr').click(function(){
                var id = $(this).attr('id');
                if(id){
                    window.location = '/companyadmins_for_company/' + id + '/';
                }
            })
        }
        $(document).ready(function(){
            GetComapnyCompanyAdmins()
        });
    </script>
{% endblock %}
