{% extends 'main.html' %}

{% block title %}
    Список компаний
{% endblock %}

{% block content %}
    <h1>Список компаний</h1>
    <div id="tableDiv">
        <div id="preTableTop">
            <p>Количество компаний {{ paginator.count }}</p>
        </div>
        <table class='listTable'>
            <thead>
            <tr>
                <th>Логин</th>
                <th>Наименование</th>
            </tr>
            </thead>
            <tbody id="mainTable" >
            {% for item in users %}
                <tr class='{% cycle 'firstTd' 'secondTd' %}' id="{{ item.id }}">
                    <td>{{ item.username }}</td>
                    <td>{{ item.first_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Нет компаний</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p id='paginator'>&nbsp;
            {% if paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&larr; Предыдущая &nbsp;</a>
                {% endif %}
                <span class="current_page">Страница {{ page_obj.number }} из {{ paginator.num_pages }}.</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&nbsp; Следующая &rarr;</a>
                {% endif %}
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function getDetailHover()
        {
            var colorminus;
            var colorplus;
            $('#mainTable tr').hover( function(){
                colorminus = $(this).find('td.minus').css('background-color');
                colorplus = $(this).find('td.plus').css('background-color');
                $('td', this).css('background','#6699ff');
            }, function(){
                $('td', this).css( 'background','');
                if(colorminus){
                    $(this).find('td.minus').css('background', colorminus);
                }else{
                    $(this).find('td.plus').css('background', colorplus);
                }
            });
        }
        function GetComapnyCompanyAdmins()
        {
            $('tbody tr').click(function(){
                var id = $(this).attr('id');
                if(id){
                    window.location = '/companyadmins_for_company/' + id + '/';
                }
            })
        }
        $(document).ready(function(){
            getDetailHover();
            GetComapnyCompanyAdmins()
        });
    </script>
{% endblock %}