{% extends 'main.html' %}

{% block title %}
    Список договоров
{% endblock %}

{% block content %}
    <h1>Список договоров</h1>
    <div id="tableDiv">
        <div id="preTableTop">
            <p>Количество договоров {{ paginator.count }}</p>
        </div>
        <table class='listTable'>
            <thead>
            <tr>
                <th>Компания</th>
                <th>Номер договора</th>
            </tr>
            </thead>
            <tbody id="mainTable" class='tr_list_hover'>
            {% for item in contracts %}
                <tr class='{% cycle 'firstTd' 'secondTd' %}' id="{{ item.id }}">
                    <td>{{ item.company.com_user.first_name }}</td>
                    <td>{{ item.name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Договоров нет</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p id='paginator'>&nbsp;
            {% if paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&larr; Предыдущая &nbsp;</a>
                {% endif %}
                <span class="current_page">Страница {{ page_obj.number }} из {{ paginator.num_pages }}.</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&nbsp; Следующая &rarr;</a>
                {% endif %}
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function GetEditContract(id)
    {
        window.location = '/edit_contract/'+id+'/';
    }
    function OnClickTr()
    {
        var table_tr = $('#mainTable tr');
        table_tr.on('click', function(){
            var id = $(this).attr('id');
            if(id)
            {
                GetEditContract(id);
            }
        })
    }
    $(document).ready(function(){
        OnClickTr();
    });
</script>
{% endblock %}