{% extends 'main.html' %}

{% block script %}

{% endblock %}

{% block title %}
    Изменить страницу документации
{% endblock %}


{% block content %}
    <h1>Изменение страницы</h1>
    <div id="add_page">
        <form method="POST" action="">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Изменить">
        </form>
    </div>
{% endblock %}

{% block head_script %}
    {{ form.media }}
    <script type="text/javascript">

    </script>
{% endblock %}