<!DOCTYPE html>
<html>
<head>
    <link href="{{ MEDIA_URL }}css/style.css" type='text/css' rel='stylesheet' />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <title>
    {% block title %}
        Главная
    {% endblock %}
     | ФРЕГАТСОФТ
    </title>
    {% block links %}
    {% endblock %}
    {% block head_script %}
    {% endblock %}
    <script type="text/javascript">
        var menuItem;
        function HideMenuHide()
        {
            $('.hide_menu').hide();
        }
        function ClicItemMenu()
        {
            $('#menu ul li').click(function(){
                var id = $(this).attr('id');
                if(menuItem == id)
                {
                    $('ul', this).toggle();
                    menuItem = $(this).attr('id');
                }else
                {
                    HideMenuHide();
                    $('ul', this).toggle();
                    menuItem = $(this).attr('id');
                }
            });
        }
        $(document).ready(function(){
            HideMenuHide();
            ClicItemMenu();
        })
    </script>
</head>
<body>
<!--[if lte IE 7]>
<div id="ieDiv">
    <p>Вы используете устаревший браузер, пожалуйста скачайте современный:</p>
    <table>
        <tbody>
            <tr>
                <td>Mozilla Firefox</td>
                <td>Google Chrome</td>
                <td>Opera</td>
                <td>Internet Exploer 9</td>
            </tr>
            <tr>
                <td><a href="http://www.mozilla.org/ru/firefox/new/"><img src="{{ MEDIA_URL }}img/firefox.png" width="150px" height="150px" /></a></td>
                <td><a href="https://www.google.com/chrome/"><img src="{{ MEDIA_URL }}img/chrome.png"  width="150px" height="150px" /></a></td>
                <td><a href="http://ru.opera.com/browser/"><img src="{{ MEDIA_URL }}img/opera.png" width="150px" height="150px" /></a></td>
                <td><a href="http://windows.microsoft.com/ru-RU/internet-explorer/downloads/ie/" ><img src="{{ MEDIA_URL }}img/ie.png" width="150px" height="150px" /></a></td>
            </tr>
        </tbody>
    </table>
</div>
<![endif]-->
<div id='wropper'>
    <div id='header'>
        <div id='headerTop'>
            <div id='logo'>
                <h1>HELPDESK от компании ООО "ФРЕГАТСОФТ"</h1>
            </div>
            <div class='information'>
                Добро пожаловать, {{ user.first_name }}.
                {% if not user_is_company %}
                    <a href="{% url wiki %}">Документация</a>
                {% endif %}
                &nbsp;
                <a href="/accounts/logout/" class="classname">Выйти</a>
            </div>
        </div><!--headerTop-->
        <div id='headerBot'>
            <div id='menu'>
                {% block menu %}
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/add_q/">Задать вопрос</a></li>
                        {% if not user_is_company %}
                            <li class='menu_item_parent' id="menu_item_1"><a href="#">Списки</a>
                                <ul class="hide_menu">
                                    <li><a href="{% url pc_list %}">Компьютеры</a></li>
                                    <li><a href="{% url short_company_name %}">Сокращения</a></li>
                                    <li><a href="{% url dep_list %}">Отделы</a></li>
                                    {% if user_is_super %}
                                        <li><a href="{% url user_list %}">Сотрудники</a></li>
                                        <li><a href="{% url company_list %}">Компании</a></li>
                                        <li><a href="{% url posts_list %}">Должности</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class='menu_item_parent' id="menu_item_2"><a href="#">Создать</a>
                                <ul class="hide_menu">
                                    <li><a href="{% url add_pc %}">Компьютер</a></li>
                                    <li><a href="{% url add_dep %}">Отдел</a></li>
                                    {% if user_is_super %}
                                        <li><a href="{% url add_user %}">Сотрудника</a></li>
                                        <li><a href="{% url add_company %}">Компанию</a></li>
                                        <li><a href="{% url add_post %}">Должность</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if user_is_report %}
                            <li class='menu_item_parent' id="menu_item_3"><a href="#">Отчеты</a>
                                <ul class='hide_menu'>
                                    <li><a href="{% url report_ques %}">Отчет по вопросам</a></li>
                                    <li><a href="{% url report_pc_history %}">Отчет по пк</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if user_is_super or user_is_buh %}
                            <li class='menu_item_parent' id="menu_item_4"><a href="#">Бухгалтерия</a>
                                <ul class='hide_menu'>
                                    <li><a href="{% url buh_index %}">Список отчетности</a></li>
                                    <li><a href="{% url list_contracts %}">Список договоров</a></li>
                                    <li><a href="{% url add_accounting %}">Создать отчетность</a></li>
                                    <li><a href="{% url add_contract %}">Создать договор</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}
                <div id="admin_face_main">
                    {% if user.profile.image %}
                        <img src="{{user.profile.image.url }}" width="70" height="70">
                    {% endif %}
                </div>
                <div id="message_wrop"></div>
            </div>
        </div><!--headerBot-->
        <div id="accounting"></div>
    </div><!--header-->
    <div id='content'>
    <div id="loading_wrop">
        <div id="loading"></div>
    </div>
        {% block content %}
            <div class='messages'>
                {% if company_admins %}
                    <h2>Сопровождающие специалисты:</h2>
                        <div class='admins_list'>
                            <table id="curators_main">
                                <tbody>
                                    {% for item in company_admins %}
                                        <tr>
                                            <td><a href="/add_q/?user={{ item.username.id }}&post={{ item.post.id }}">{{ item.post.decription }}</a></td>
                                            <td><a href="/add_q/?user={{ item.username.id }}&post={{ item.post.id }}">{{ item.username.first_name }} {{ item.username.last_name }}</a></td>
                                            <td>{{ item.username.profile.telefon }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                {% endif %}
            </div>
        <h1>Список обращений</h1>
        <div id='tableDivWrop'></div>
        {% endblock %}
    </div><!--content-->
    <div id='footer'>
        {% block footer %}
        {% endblock %}
    </div><!--footer-->
</div><!--wropper-->
<script type="text/javascript">
    function ShowMessage()
    {
        var text_message = '{{ success_message }}';
        var error_class = '{% if is_error_message %}1{% endif %}';
        var div_message = $('#message_wrop');
        if(text_message)
        {
            if(error_class == 1)
            {
                AddMessageError(text_message);
            }else{
                div_message.append('<div class="show_message">'+text_message+'</div>');
                var mess = $('div:last-child',div_message);
                mess.fadeIn();
                setTimeout(function(){
                    mess.fadeOut('slow');
                }, 3500);
            }
        }
    }
    function AddMessageError(text)
    {
        var message = $('#message_wrop');
        message.append('<div class="show_message message_err">'+text+'</div>');
        var err_mess = $('div:last-child',message);
        err_mess.fadeIn();
        setTimeout(function(){
            err_mess.fadeOut('slow');
        }, 3500);
    }
    function AddSuccessMessage(text)
    {
        var message = $('#message_wrop');
        message.append('<div class="show_message">'+text+'</div>');
        var err_mess = $('div:last-child',message);
        err_mess.fadeIn();
        setTimeout(function(){
            err_mess.fadeOut('slow');
        }, 3500);
    }
    function CountObjectProperty(data)
    {
        var count = 0;
        for (var foo in data) {
            if(data.hasOwnProperty(foo))
            {
                count++;
            }
        }
        return count;
    }
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function GetMonth(number)
    {
        var mount = {
            1 : 'январь',
            2 : 'февраль',
            3 : 'март',
            4 : 'апрель',
            5 : 'май',
            6 : 'июнь',
            7 : 'июль',
            8 : 'август',
            9 : 'сентябрь',
            10 : 'октябрь',
            11 : 'ноябрь',
            12 : 'декабрь'
        };
        return mount[number];
    }
    $(document).ready(function(){
        ShowMessage();
    });
</script>
{% block script %}
    <script>
        function GetAccounting()
        {
            var company = '{{ user.profile.is_company }}';
            var loading = $('#loading');
            var accounting = $('#accounting');
            loading.fadeIn();
            $.ajax({
                url: '/ajax/get_accounting_debts/',
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    var counter = CountObjectProperty(data);
                    if(counter != 0)
                    {
                        accounting.append('<ul>');
                        $.each(data, function(id, value){
                            if(company == 'True')
                            {
                                accounting.append('<li>У вас неоплаченная задолжность за '+GetMonth(value["month"])+'</li>')
                            }
                            if(company == 'False')
                            {
                                accounting.append('<li>У фирмы '+value["company"]+' неоплаченная задолжность за '+GetMonth(value["month"])+' '+value["year"]+' по договору '+value["contract"]+'</li>')
                            }
                        });
                        accounting.append('</ul>');
                    }
                    loading.fadeOut();
                }
            });
        }

        function GetQues()
        {
            $('tbody').on ('click', 'tr',function(){
                var id = $(this).attr('id');
                if(id)
                {
                    window.location = '/chat/' + id;
                }
            })
        }
        function GetIndexQuestion(){
            $('#tableDiv').hide();
            $('#loading').fadeIn();
            $.ajax({
                url: '/ajax/get_index_ques/',
                type: 'GET',
                dataType: 'html',
                success: function(data){
                            $('#tableDivWrop').empty().append(data).fadeIn();
                            }
            }).done(function(){
                        GetQues();
                        $('#loading').fadeOut();
                    });
        }
        function GetIndexQuestionNoHide(){
            $('#loading').fadeIn();
            $.ajax({
                url: '/ajax/get_index_ques/',
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#tableDivWrop').empty().append(data);
                }
            }).done(function(){
                        GetQues();
                        $('#loading').fadeOut();
                    });
        }
        function GetPeginatorNext(){
            $('#tableDiv').hide();
            var page = $('#next').attr('href');
            $.ajax({
                url: '/ajax/get_index_ques/'+page,
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#tableDivWrop').empty().append(data).fadeIn();
                }
            }).done(function(){
                        GetQues();
                    });
        }
        function GetPeginatorPrev(){
            $('#tableDiv').hide();
            var page = $('#prev').attr('href');
            $.ajax({
                url: '/ajax/get_index_ques/'+page,
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#tableDivWrop').empty().append(data).fadeIn();
                }
            }).done(function(){
                        GetQues();
                    });
        }

        $(document).ready(function(){
            GetIndexQuestion();
            GetAccounting();
            setInterval('GetIndexQuestionNoHide()', 60000);
        });
    </script>
{% endblock %}
</body>
</html>