<!DOCTYPE html>
<html>
<head>
    <link href="{{ MEDIA_URL }}css/style.css" type='text/css' rel='stylesheet' />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <title>
    {% block title %}
        Главная
    {% endblock %}
     | ФРЕГАТСОФТ
    </title>
    {% block links %}
    {% endblock %}
    {% block head_script %}
    {% endblock %}
    <script type="text/javascript">
        function HideMenuHide(){
            $('.hide_menu').hide();
        }
        function ClicItemMenu(){
            $('#menu ul li').click(function(){
                $('ul', this).toggle();
            });
        }
        $(document).ready(function(){
            HideMenuHide();
            ClicItemMenu();
        })
    </script>
</head>
<body>
<!--[if lte IE 7]>
<div id="ieDiv">
    <p>Вы используете устаревший браузер, пожалуйста скачайте современный:</p>
    <table>
        <tbody>
            <tr>
                <td>Mozilla Firefox</td>
                <td>Google Chrome</td>
                <td>Opera</td>
                <td>Internet Exploer 9</td>
            </tr>
            <tr>
                <td><a href="http://www.mozilla.org/ru/firefox/new/"><img src="{{ MEDIA_URL }}img/firefox.png" width="150px" height="150px" /></a></td>
                <td><a href="https://www.google.com/chrome/"><img src="{{ MEDIA_URL }}img/chrome.png"  width="150px" height="150px" /></a></td>
                <td><a href="http://ru.opera.com/browser/"><img src="{{ MEDIA_URL }}img/opera.png" width="150px" height="150px" /></a></td>
                <td><a href="http://windows.microsoft.com/ru-RU/internet-explorer/downloads/ie/" ><img src="{{ MEDIA_URL }}img/ie.png" width="150px" height="150px" /></a></td>
            </tr>
        </tbody>
    </table>
</div>
<![endif]-->
<div id='wropper'>
    <div id='header'>
        <div id='headerTop'>
            <div id='logo'>
                <h1>HELPDESK от компании ООО "ФРЕГАТСОФТ"</h1>
            </div>
            <div class='information'>
                Добро пожаловать, {{ USER_LOGON }}.
                <a href="#">Документация</a>
                /
                <a href="/accounts/logout/">Выйти</a>
            </div>
        </div><!--headerTop-->
        <div id='headerBot'>
            <div id='menu'>
                {% block menu %}
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/add_q/">Задать вопрос</a></li>
                        {% if not user_is_company %}
                            <li><a href="{% url short_company_name %}">Сокращение компаний</a></li>
                            <li><a href="{% url pc_list %}">Список ПК</a></li>
                            <li class='menu_item_parent'><a href="#">Добавить</a>
                                <ul class="hide_menu">
                                    <li><a href="{% url add_pc %}">Компьютер</a></li>
                                    <li><a href="{% url add_dep %}">Отдел</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if user_is_report %}
                            <li class='menu_item_parent'><a href="#">Отчеты</a>
                                <ul class='hide_menu'>
                                    <li><a href="{% url report_ques %}">Отчет по вопросам</a></li>
                                    <li><a href="{% url report_pc_history %}">Отчет по пк</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}
            </div>
        </div><!--headerBot-->
    </div><!--header-->
    <div id='content'>
        {% block content %}
            <div class='messages'>
                {% if company_admins %}
                    <h2>Список ваших кураторов</h2>
                        <table class='admins_list'>
                            <tbody>
                            {% for item in company_admins %}
                                <tr>
                                    <td>{{ item.post.decription }}</td>
                                    <td>
                                        {{ item.username.first_name }} {{ item.username.last_name }}
                                    </td>
                                    <td>{{ item.username.profile.telefon }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                {% endif %}
            </div>
        <h1>Список вопросов</h1>
        <div id='tableDivWrop'></div>
        {% endblock %}
    </div><!--content-->
    <div id='footer'>
        {% block footer %}
        {% endblock %}
    </div><!--footer-->
</div><!--wropper-->
{% block script %}
    <script>
        function GetQues(){
            $('tbody tr').click(function(){
                var id = $(this).attr('id');
                if(id){
                    window.location = '/chat/' + id;
                }
            })
        }
        function getDetailHover(){
                var colorminus;
                var colorplus;
            $('#mainTable tr').hover( function(){
                colorminus = $(this).find('td.minus').css('background-color');
                colorplus = $(this).find('td.plus').css('background-color');
                $('td', this).css('background','#6699ff');
            }, function(){
                $('td', this).css( 'background','');
                if(colorminus){
                    $(this).find('td.minus').css('background', colorminus);
                }else{
                    $(this).find('td.plus').css('background', colorplus);
                }
            });
        }
        function GetIndexQuestion(){
            $('#tableDiv').hide();
            $.ajax({
                url: '/ajax/get_index_ques/',
                type: 'GET',
                dataType: 'html',
                success: function(data){
                            $('#tableDivWrop').empty().append(data).fadeIn();
                            }
            }).done(function(){
                        getDetailHover();
                        GetQues();
                    });
        }
        function GetIndexQuestionNoHide(){
            $.ajax({
                url: '/ajax/get_index_ques/',
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#tableDivWrop').empty().append(data);
                }
            }).done(function(){
                        getDetailHover();
                        GetQues();
                    });
        }
        function GetPeginatorNext(){
            $('#tableDiv').hide();
            var page = $('#next').attr('href');
            $.ajax({
                url: '/ajax/get_index_ques/'+page,
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#tableDivWrop').empty().append(data).fadeIn();
                }
            }).done(function(){
                        getDetailHover();
                        GetQues();
                    });
        }
        function GetPeginatorPrev(){
            $('#tableDiv').hide();
            var page = $('#prev').attr('href');
            $.ajax({
                url: '/ajax/get_index_ques/'+page,
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#tableDivWrop').empty().append(data).fadeIn();
                }
            }).done(function(){
                        getDetailHover();
                        GetQues();
                    });
        }
        $(document).ready(function(){
            GetIndexQuestion();
            setInterval('GetIndexQuestionNoHide()', 60000);
        });
    </script>
{% endblock %}
</body>
</html>