{% extends 'main.html' %}

{% block title %}
    Отчет по истории изменения харатеристик ПК
{% endblock %}

{% block content %}
    <h1>Отчет по истории изменения харатеристик ПК</h1>
    <div class="choise_options">
            <div class="div_choise_company choise_margin">
                <p>Выберите компанию</p>
                <select onchange="GetPcList()" id="sel_choise_company" name='sel_choise_company'></select>
            </div>
            <div class="div_choise_pc choise_margin">
                <p>Выберите ПК</p>
                <select onchange="GetReport()" id="sel_choise_pc" name='sel_choise_pc'></select>
            </div>
            <div class="div_choise_user choise_margin">
                <p>Выберите сотрудника</p>
                <select onchange="GetReport()" id="sel_choise_user" name='sel_choise_user'></select>
            </div>
    </div>
    <div id="report_list"></div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    function GetCompanyList(){
        $('#loading').fadeIn();
        $('.div_choise_company').hide();
        $.ajax({
            url : '/ajax/get_company_for_report_pc_history/',
            type: 'GET',
            dataType: 'html',
            success : function(data){
                $('#sel_choise_company').empty().append(data);
            }
        }).done(function(){
                    $('.div_choise_company').fadeIn();
                    $('#loading').fadeOut();
                });
    }
    function GetUserList(){
        $('#loading').fadeIn();
        $('.div_choise_user').hide();
        $.ajax({
            url: '/ajax/get_users_for_report_ques/',
            type: 'GET',
            dataType: 'html',
            success: function(data){
                $('#sel_choise_user').empty().append(data);
            }
        }).done(function(){
                    $('.div_choise_user').fadeIn();
                    $('#loading').fadeOut();
                });
    }
    function HidePcList(){
        $('.div_choise_pc').hide();
        $('#report_list').hide();
    }
    function GetPcList(){
        $('#loading').fadeIn();
        var company = $('#sel_choise_company').val();
        $('.div_choise_pc').hide();
        if(company != '0'){
        $.ajax({
            url: '/ajax/get_pc_for_report_pc_history/' + company + '/',
            type: 'GET',
            dataType: 'html',
            success: function(data){
                $('#sel_choise_pc').empty().append(data);
            }
        }).done(function(){
                    $('.div_choise_pc').fadeIn();
                    $('#loading').fadeOut();
                    GetReport();
                });
        }

    }
    function GetReport(){
        $('#loading').fadeIn();
        $('#report_list').hide();
        var pc;
        var company = $('#sel_choise_company').val();
        if(company == '0'){
            pc = '0';
        }else{
            pc = $('#sel_choise_pc').val();
            if(! pc){
                pc = '0'
            }
        }
        var user = $('#sel_choise_user').val();
        if(company == '0' && user == '0'){
            $('#report_list').empty();
            $('#loading').fadeOut();
        }else{
            $.ajax({
                url: '/ajax/get_report_pc_history/'+pc+'/'+user+'/'+company+'/',
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#report_list').empty().append(data).fadeIn();
                    $('#loading').fadeOut();
                    GetPcInTr();
                }
            });

        }
    }
    function GetPeginatorNext(){
        $('#tableDiv').hide();
        var page = $('#next').attr('href');
        var pc;
        var company = $('#sel_choise_company').val();
        if(company == '0'){
            pc = '0';
        }else{
            pc = $('#sel_choise_pc').val();
            if(! pc){
                pc = '0'
            }
        }
        var user = $('#sel_choise_user').val();
        if(company == '0' && user == '0'){
            $('#report_list').empty();
        }else{
            $.ajax({
                url: '/ajax/get_report_pc_history/'+pc+'/'+user+'/'+company+'/'+page,
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#report_list').empty().append(data).fadeIn();
                    GetPcInTr();
                }
            });

        }
    }
    function GetPeginatorPrev(){
        $('#tableDiv').hide();
        var page = $('#prev').attr('href');
        var pc;
        var company = $('#sel_choise_company').val();
        if(company == '0'){
            pc = '0';
        }else{
            pc = $('#sel_choise_pc').val();
            if(! pc){
                pc = '0'
            }
        }
        var user = $('#sel_choise_user').val();
        if(company == '0' && user == '0'){
            $('#report_list').empty();
        }else{
            $.ajax({
                url: '/ajax/get_report_pc_history/'+pc+'/'+user+'/'+company+'/'+page,
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#report_list').empty().append(data).fadeIn();
                    GetPcInTr();
                }
            });

        }
    }
    function GetPcInTr()
    {
        $('#mainTable tr').click(function(){
            var id = $(this).attr('id');
            if(id)
            {
                window.location = '/pc_detail/'+id+'/';
            }
        });
    }
    $(document).ready(function(){
        HidePcList();
        GetCompanyList();
        GetUserList();
        GetPcInTr();
    });
    </script>
{% endblock %}