{% extends 'main.html' %}

{% block title %}
    Детализация ПК
{% endblock %}

{% block content %}
    <h1>Детальная информация о комьютере</h1>
    <div id="pc_detail_parent">
        <table>
            <tbody id="table_pc_parent">
                <tr>
                    <th>Фирма</th>
                    <td>{{ pc.company }}</td>
                </tr>
                <tr>
                    <th>ID</th>
                    <td>{{ pc.pc_nameId }}</td>
                </tr>
                <tr>
                    <th>HOSTNAME</th>
                    <td>{{ pc.pc_name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="div_add_but">
        <button id="but_add_but" type="button" onclick="AddOption()">Добавить характеристику</button>
    </div>
    <div id="div_history_but">
        <button onclick="GetHistory()" id="{{ pc.id }}" type="button" class='but_history_but'>Посмотреть историю изменений</button>
    </div>
    <div>
        <button onclick="AddFile()" id="{{ pc.id }}" type="button" class='but_file_add'>Добавить файл</button>
    </div>
    {% if pc.files.all %}
        <div id="file_list">
            <span>Прикрепленные файлы:</span>
            <ol>
                {% for item in pc.files.all %}
                    <li><a href="{{ item.file.url }}">имя:{{ item.name }}</a>  размер:{{ item.size|filesizeformat }},  дата заливки:{{ item.date }}</li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
    <div id='tableDiv'>
        <div id="preTableTop">
            <p>Количество характеристик {{ paginator.count }}</p>
        </div>
        <table class='listTable'>
            <thead>
            <tr>
                <th>Характеристика</th>
                <th>Значение</th>
                <th>Когда последний раз изменялась</th>
                <th>Кто последний раз изменил</th>
            </tr>
            </thead>
            <tbody id="mainTable" class='tr_list_hover'>
            {% for opt in options %}
                <tr class='{% cycle 'firstTd' 'secondTd' %}' id="{{ opt.id }}">
                    <td class='valueCol'>{{ opt.option }}</td>
                    <td class='valueCol'>{{ opt.body }}</td>
                    <td class='dateCol' >{{ opt.date }}</td>
                    <td class='dateCol' >{{ opt.user.first_name }} {{ opt.user.last_name }}</td>
                    {% empty %}
                <tr>
                    <td colspan="4">У данного комьютера нет характеристик</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p id='paginator'>&nbsp;
            {% if paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&larr; Предыдущая &nbsp;</a>
                {% endif %}
                <span class="current_page">Страница {{ page_obj.number }} из {{ paginator.num_pages }}.</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&nbsp; Следующая &rarr;</a>
                {% endif %}
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block script %}
    <script>
        function GetOption(){
            $('#mainTable tr').click(function(){
                var id = $(this).attr('id');
                window.location = '/change_opt/' + id + '/';
            });
        }
        function AddOption(){
            window.location = '/add_opt/{{ pc.id }}/';
        }
        function GetHistory(){
            var id = $('.but_history_but').attr('id');
            window.location = '/pc_history/' + id + '/';
        }
        function AddFile(){
            var id = $('.but_file_add').attr('id');
            window.location = '/add_file_for_pc/'+id+'/';
        }
        $(document).ready(function(){
            GetOption();
        });
    </script>
{% endblock %}