{% extends 'main.html' %}

{% block title %}
    Список доступных компьютеров
{% endblock %}

{% block content %}
    <h1>Список компьютеров в ваших компаниях</h1>
    <div id="message"><p></p></div>
    <div id="choise_company">
        <label for="sel_choise_company" >Выберите компанию</label><br>
        <select id='sel_choise_company' name='name_sel_choise_company' onchange="GetPcListForCompany()"></select>
    </div>
    <div id="choise_dep">
        <label for="sel_choise_dep" >Выберите отдел</label><br>
        <select id='sel_choise_dep' name='name_sel_choise_dep' onchange="GetPcListForDep()"></select>
    </div>
    <div id='ajax_pc_list'></div>
{% endblock %}

{% block script %}
    <script>
        function GetCompany()
        {
            var message = $('#message p');
            var loading = $('#loading');
            var select_company = $('#sel_choise_company');
            loading.fadeIn();
            message.fadeOut();
            message.empty();
            select_company.hide();
            select_company.empty();
            select_company.append('<option value="" selected="selected">---------</option>');
            $.ajax({
                url: '/ajax/get_company_for_pc_list/',
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    var counter = CountObjectProperty(data);
                    if(counter != 0)
                    {
                        $.each(data, function(id, com_value){
                            var com_id = com_value["id"];
                            var name = com_value["name"];
                            select_company.append('<option value="'+com_id+'">'+name+'</option>');
                        });
                    }else{
                        message.append(' Вы не обслуживаете ни одну компанию.');
                        message.fadeIn();
                    }
                    select_company.fadeIn();
                    loading.fadeOut();
                }
            });
        }
        function GetDep()
        {
            var message     = $('#message p');
            var loading     = $('#loading');
            var id          = $('#sel_choise_company').val();
            var select_dep  = $('#sel_choise_dep');
            var div_dep     = $('#choise_dep');
            message.fadeOut();
            message.empty();
            loading.fadeIn();
            div_dep.fadeOut();
            $.ajax({
                url:'/ajax/get_departament_for_pc_list/' + id + '/',
                type: 'GET',
                dataType:'json',
                success: function(data){
                    select_dep.empty();
                    select_dep.append('<option value="0" selected="selected">---------</option>');
                    var count = CountObjectProperty(data);
                    if(count != 0)
                    {
                        $.each(data, function(id, value){
                            select_dep.append('<option value="'+value["id"]+'">'+value["name"]+'</option>');
                        });
                        div_dep.fadeIn();
                    }else{
                        message.fadeOut();
                        message.empty();
                        message.append(' В компании отделы не определены.');
                        message.fadeIn();
                    }
                    loading.fadeOut();
                }
            })
        }
        function GetPcListForCompany(){
            var loading = $('#loading');
            var com = $('#sel_choise_company').val();
            var message = $('#message p');
            var div_choise_dep = $('#choise_dep');
            message.fadeOut();
            loading.fadeIn();
            div_choise_dep.fadeOut();
            if(com != 0){
                $('#p_choise_msg').fadeOut();
                $('#ajax_pc_list').hide();
                $.ajax({
                    url: '/ajax/get_pc_for_list/'+com+'/' + 0 + '/',
                    type: 'GET',
                    dataType: 'html',
                    success: function(data){
                        $('#ajax_pc_list').empty().append(data).fadeIn();
                    }
                }).done(function(){
                            GetPcDetail();
                            GetDep();
                            $('#loading').fadeOut();
                        });
            }else{
                    $('#ajax_pc_list').fadeOut().empty();
                    $('#choise_dep').fadeOut();
                    loading.fadeOut();
            }
        }
        function GetPcListForDep(){
            $('#loading').fadeIn();
            var com = $('#sel_choise_company').val();
            var dep = $('#sel_choise_dep').val();
            if(! dep ){
                dep = 0;
            }
            if(com != 0){
                $('#p_choise_msg').fadeOut();
                $('#ajax_pc_list').hide();
                $.ajax({
                    url: '/ajax/get_pc_for_list/'+com+'/' + dep + '/',
                    type: 'GET',
                    dataType: 'html',
                    success: function(data){
                        $('#ajax_pc_list').empty().append(data).fadeIn();
                    }
                }).done(function(){
                            GetPcDetail();
                            $('#loading').fadeOut();
                        });
            }else{
                $('#ajax_pc_list').fadeOut().empty();
                $('#loading').fadeOut();
            }
        }
        function GetPcDetail(){
            $('#mainTable tr').click(function(){
                var id = $(this).attr('id');
                window.location = '/pc_detail/' + id + '/';
            });
        }
        function HideDep(){
            $('#choise_dep').hide();
        }
        function CountObjectProperty(data)
        {
            var count = 0;
            for (var foo in data) {
                if(data.hasOwnProperty(foo))
                {
                    count++;
                }
            }
            return count;
        }
        function GetPeginatorNext(){
            $('#tableDiv').hide();
            var page = $('#next').attr('href');
            var com = $('#sel_choise_company').val();
            var dep = $('#sel_choise_dep').val();
            if(! dep ){
                dep = 0;
            }
            if(com != 0){
                $('#p_choise_msg').fadeOut();
                $('#ajax_pc_list').hide();
                $.ajax({
                    url: '/ajax/get_pc_for_list/'+com+'/' + dep + '/'+page,
                    type: 'GET',
                    dataType: 'html',
                    success: function(data){
                        $('#ajax_pc_list').empty().append(data).fadeIn();
                    }
                }).done(function(){
                            GetPcDetail();
                        });
            }else{
                $('#ajax_pc_list').fadeOut().empty();
            }
        }
        function GetPeginatorPrev(){
            $('#tableDiv').hide();
            var page = $('#prev').attr('href');
            var com = $('#sel_choise_company').val();
            var dep = $('#sel_choise_dep').val();
            if(! dep ){
                dep = 0;
            }
            if(com != 0){
                $('#p_choise_msg').fadeOut();
                $('#ajax_pc_list').hide();
                $.ajax({
                    url: '/ajax/get_pc_for_list/'+com+'/' + dep + '/'+page,
                    type: 'GET',
                    dataType: 'html',
                    success: function(data){
                        $('#ajax_pc_list').empty().append(data).fadeIn();
                    }
                }).done(function(){
                            GetPcDetail();
                        });
            }else{
                $('#ajax_pc_list').fadeOut().empty();
            }
        }
        $(document).ready(function(){
            GetCompany();
            HideDep();
        });
    </script>
{% endblock %}