{% extends 'main.html' %}

{% block title %}
    Список доступных компьютеров
{% endblock %}

{% block content %}
    <h1>Список компьютеров в ваших компаниях</h1>
    <div id="choise_company">
        <p id="message">Если список компаний пуст, то вы не обслуживаете ни одну компанию</p>
        <p>Выберите компанию</p>
        <select id='sel_choise_company' name='name_sel_choise_company' onchange="GetPcListForCompany()">
            <option value="0" selected="selected">---------</option>
        </select>
    </div>
    <div id="choise_dep">
        <p>Выберите отдел</p>
        <select id='sel_choise_dep' name='name_sel_choise_dep' onchange="GetPcListForDep()"></select>
    </div>
    <div id='ajax_pc_list'></div>
{% endblock %}

{% block script %}
    <script>
        function GetCompany(){
            $('#loading').fadeIn();
            $('#message').hide();
            $('#sel_choise_company').hide();
            $.ajax({
                url: '/ajax/get_company_for_pc_list/',
                type: 'GET',
                dataType: 'html',
                success: function(data){
                    $('#sel_choise_company').append(data).fadeIn();
                }
            }).done(function(){
                        GetOptionsLen();
                        $('#loading').fadeOut();
                    });
        }
        function GetOptionsLen(){
            if($('#sel_choise_company option').length<2){
                $('#message').fadeIn();
            }
        }
        function GetPcListForCompany(){
            $('#loading').fadeIn();
            var com = $('#sel_choise_company').val();
            var dep = $('#sel_choise_dep').val();
            if(! dep ){
                dep = 0;
            }
            if(com != 0){
                $('#p_choise_msg').fadeOut();
                $('#ajax_pc_list').hide();
                $.ajax({
                    url: '/ajax/get_pc_for_list/'+com+'/' + dep + '/',
                    type: 'GET',
                    dataType: 'html',
                    success: function(data){
                        $('#ajax_pc_list').empty().append(data).fadeIn();
                    }
                }).done(function(){
                            GetPcDetail();
                            HoverTr();
                            GetDep();
                            $('#loading').fadeOut();
                        });
            }else{
                    $('#ajax_pc_list').fadeOut().empty();
                    $('#choise_dep').fadeOut();
                    $('#loading').fadeOut();
            }
        }
        function GetPcListForDep(){
            $('#loading').fadeIn();
            var com = $('#sel_choise_company').val();
            var dep = $('#sel_choise_dep').val();
            if(! dep ){
                dep = 0;
            }
            if(com != 0){
                $('#p_choise_msg').fadeOut();
                $('#ajax_pc_list').hide();
                $.ajax({
                    url: '/ajax/get_pc_for_list/'+com+'/' + dep + '/',
                    type: 'GET',
                    dataType: 'html',
                    success: function(data){
                        $('#ajax_pc_list').empty().append(data).fadeIn();
                    }
                }).done(function(){
                            GetPcDetail();
                            HoverTr();
                            $('#loading').fadeOut();
                        });
            }else{
                $('#ajax_pc_list').fadeOut().empty();
                $('#loading').fadeOut();
            }
        }
        function GetPcDetail(){
            $('#mainTable tr').click(function(){
                var id = $(this).attr('id');
                window.location = '/pc_detail/' + id + '/';
            });
        }
        function HoverTr(){
            $('#mainTable tr').hover( function(){
                 $('td', this).css('background','#6699ff');
            }, function(){
                        $('td', this).css( 'background','');
            });
        }
        function HideDep(){
            $('#choise_dep').hide();
        }
        function GetDep(){
            $('#loading').fadeIn();
            var id = $('#sel_choise_company').val();
            $.ajax({
                url:'/ajax/get_departament_for_pc_list/' + id + '/',
                type: 'GET',
                dataType:'html',
                success: function(data){
                    $('#sel_choise_dep').empty().append(data);
                    $('#choise_dep').fadeIn();
                    $('#loading').fadeOut();
                }
            })
        }
        function GetPeginatorNext(){
            $('#tableDiv').hide();
            var page = $('#next').attr('href');
            var com = $('#sel_choise_company').val();
            var dep = $('#sel_choise_dep').val();
            if(! dep ){
                dep = 0;
            }
            if(com != 0){
                $('#p_choise_msg').fadeOut();
                $('#ajax_pc_list').hide();
                $.ajax({
                    url: '/ajax/get_pc_for_list/'+com+'/' + dep + '/'+page,
                    type: 'GET',
                    dataType: 'html',
                    success: function(data){
                        $('#ajax_pc_list').empty().append(data).fadeIn();
                    }
                }).done(function(){
                            GetPcDetail();
                            HoverTr();
                        });
            }else{
                $('#ajax_pc_list').fadeOut().empty();
            }
        }
        function GetPeginatorPrev(){
            $('#tableDiv').hide();
            var page = $('#prev').attr('href');
            var com = $('#sel_choise_company').val();
            var dep = $('#sel_choise_dep').val();
            if(! dep ){
                dep = 0;
            }
            if(com != 0){
                $('#p_choise_msg').fadeOut();
                $('#ajax_pc_list').hide();
                $.ajax({
                    url: '/ajax/get_pc_for_list/'+com+'/' + dep + '/'+page,
                    type: 'GET',
                    dataType: 'html',
                    success: function(data){
                        $('#ajax_pc_list').empty().append(data).fadeIn();
                    }
                }).done(function(){
                            GetPcDetail();
                            HoverTr();
                        });
            }else{
                $('#ajax_pc_list').fadeOut().empty();
            }
        }
        $(document).ready(function(){
            GetCompany();
            HideDep();
        });
    </script>
{% endblock %}