{% extends 'main.html' %}

{% block title %}
    Чат
{% endblock %}


{% block script %}
    <script>

        var start = true;
        var status_user_check;
        var last_message = 0;

        function ChangeStatus(){
            var loading = $('#loading');
            loading.fadeIn();
            var question_status;
            if(start)
            {
                question_status = '{{ question.user_check }}';
            }else{
                question_status = status_user_check;
            }
            $.ajax({
                url: '/ajax/change_status_ques/{{ question.id }}/'+question_status+'/',
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    var new_status = data['new_status'];
                    var text = new_status ? 'Вопрос успешно закрыт' : 'Вопрос успешно открыт';
                    AddSuccessMessage(text);
                    GetQuestion();
                    loading.fadeOut();
                }
            });
        }
        function GetChat(){
            var message_block = $('#messBlock');
            var loading = $('#loading');
            loading.fadeIn();
            $.ajax({
                url:'/ajax/get_chat_mess/{{ question.id }}/',
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    var counter = CountObjectProperty(data);
                    if(counter != 0)
                    {
                        $.each(data, function(id, one_mes){
                            var date = one_mes['date'];
                            var body = one_mes['body'];
                            var is_that_sender = one_mes['is_that_sender'];
                            var sender = one_mes['sender'];
                            var files = one_mes['files'];
                            var files_links = '';
                            var message_id = one_mes['id'];
                            var sender_class = '';
                            if(is_that_sender)
                            {
                                sender_class = 'oneMsgUser';
                            }else{
                                sender_class = 'oneMsgAdmin';
                            }
                            if(message_id > last_message)
                            {
                                if(files)
                                {
                                    $.each(files, function(id, value){
                                        var url = value['url'];
                                        var name = value['name'];
                                        var size = value['size'];
                                        var text = 'Прикрепленный файл: <a href="'+url+'">'+name+'</a>,  размер: '+size;
                                        files_links = files_links + text;
                                    });
                                }
                                message_block.prepend('<div class="oneMsg '+sender_class+'"><div class="userName">'+date+' : '+sender+'</div><p><div>'+body+'</div></p><div id="files">'+files_links+'</div></div');
                                var div_last_message = $('.oneMsg:first-child', message_block);
                                div_last_message.fadeIn('slow');
                                last_message = message_id;
                            }
                        });
                    }
                    loading.fadeOut();
                }
            });
        }
        function GetPcInfo(id){
            window.location = '/pc_detail/' + id + '/'
        }
        function ChangeUserTo(id)
        {
            window.location = '/chnage_user_to_for_ques/'+id+'/';
        }
        function ChangeQuestion(id)
        {
            window.location = '/edit_question/'+id+'/';
        }
        function GetQuestion(){
            var loading = $('#loading');
            loading.fadeIn();
            start = false;
            $.ajax({
                url: '/ajax/get_ques/{{ question.id }}/',
                type: 'GET',
                dataType: 'json',
                success: function(data)
                {
                    var date = data['date'];
                    var user_from = data['user_from_name'];
                    var user_from_last_name = data['user_from_last_name'];
                    var pc_from = data['pc_from'];
                    var worker_from = data['worker_from'];
                    var user_to = data['user_to_name'];
                    var user_to_last_name = data['user_to_last_name'];
                    var body = data['body'];
                    var user_check = data['user_check'];
                    var user_check_date = data['user_check_date'];
                    var image_url = data['image'];

                    var div_date = $('#question_date');
                    var div_user_from = $('#question_user_from');
                    var div_user_to = $('#question_user_to');
                    var div_body = $('#question_body');
                    var div_user_check = $('#question_user_check');
                    var div_user_check_date = $('#question_user_check_date');
                    var img = $('#admin_face_visilble img');
                    var but_change_status = $('.changeStatus');

                    var text_user_from;
                    var text_user_to;
                    var text_user_check;


                    div_date.fadeOut().empty();
                    div_user_from.fadeOut().empty();
                    div_user_to.fadeOut().empty();
                    div_body.fadeOut().empty();
                    div_user_check.fadeOut().empty();
                    div_user_check_date.fadeOut().empty();



                    div_date.append(date);
                    text_user_from = user_from;
                    text_user_from = user_from_last_name ? text_user_from + ' ' + user_from_last_name: text_user_from;
                    text_user_from = pc_from ? text_user_from + ' : ' + pc_from + ' ' + worker_from : text_user_from;
                    div_user_from.append(text_user_from);
                    text_user_to = user_to;
                    text_user_to = user_to_last_name ? text_user_to + ' ' + user_to_last_name : text_user_to;
                    div_user_to.append(text_user_to);
                    div_body.append(body);
                    div_user_check.removeClass('green_font', 'red_font');
                    if(user_check)
                    {
                        text_user_check = 'Вопрос закрыт';
                        div_user_check.addClass('green_font');
                        but_change_status.empty().append('Открыть вопрос');
                        status_user_check = 'True';
                    }else{
                        text_user_check = 'Вопрос открыт';
                        div_user_check.addClass('red_font');
                        but_change_status.empty().append('Зыкрыть вопрос');
                        status_user_check = 'False';
                    }
                    div_user_check.append(text_user_check);
                    if(user_check_date)
                    {
                        div_user_check_date.append(user_check_date);
                    }else{
                        div_user_check_date.hide();
                    }
                    if(image_url)
                    {
                        img.attr('src', image_url);
                    }else{
                        img.attr('src', "{{ MEDIA_URL }}img/fregat_logo.png");
                    }

                    div_date.fadeIn();
                    div_user_from.fadeIn();
                    div_user_to.fadeIn();
                    div_body.fadeIn();
                    div_user_check.fadeIn();
                    div_user_check_date.fadeIn();

                    loading.fadeOut();
                }
                });
        }
        $(document).ready(function(){
            GetChat();
            setInterval('GetChat()', 30000);
            setInterval('GetQuestion()', 60000);
        });
    </script>
{% endblock %}





{% block content %}
    <div class="container-fluid">
        <h2>Обсуждение вопроса</h2>

    {#    Группа кнопок сверху#}

        <div class="btn-group">
            <button class="changeStatus btn" type="button" onclick="ChangeStatus()">
                {% if question.user_check %}
                    Открыть вопрос
                {% else %}
                    Закрыть вопрос
                {% endif %}
            </button>
            {% if not user_is_company %}
                {% if question.pc_from %}
                    <button onclick="GetPcInfo({{ question.pc_from.id }})" class='btn' id="but_q_pc_detail"  type="button">Информация о ПК</button>
                {% endif %}
                <button type="button" onclick="ChangeUserTo({{ question.id }})" class='btn'>Перенаправить</button>
                {% if can_change %}
                    <button type="button" onclick="ChangeQuestion({{ question.id }})" class='btn'>Изменить вопрос</button>
                {% endif %}
            {% endif %}
        </div>

    {#    Конец группы кнопок#}


    {#    Вопрос#}

        <div class="row-fluid" id="question_for_chat">
            <div class='span10 question_table'>
                <div class="row-fluid question_table_row">
                    <div class='span12'>
                        <div class='div-label'>Фотография получателя:</div>
                        <div class='div-value'>
                            <div id="admin_face_visilble">
                                {% if question.user_to.profile.image %}
                                    <img src="{{ question.user_to.profile.image.url }}" width="70" height="70">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}img/fregat_logo.png" width="70" height="70">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid question_table_row">
                    <div class='span12'>
                        <div class='div-label'>Дата создания вопроса:</div>
                        <div id="question_date" class='div-value'>{{ question.date|date:"H:i d/m/Y" }}</div>
                    </div>
                </div>
                <div class="row-fluid question_table_row">
                    <div class='span12'>
                        <div class='div-label'>От кого:</div>
                        <div id="question_user_from" class='div-value'>
                            {{ question.user_from.first_name }}
                            {% if question.user_from.last_name %}
                                {{ question.user_from.last_name }}
                            {% endif %}
                            {% if question.pc_from %}
                                : {{ question.pc_from }} {{ question.worker_from }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row-fluid question_table_row">
                    <div class='span12'>
                        <div class='div-label'>Кому:</div>
                        <div id="question_user_to" class='div-value'>
                            {{ question.user_to.first_name }}
                            {% if question.user_to.last_name %}
                                {{ question.user_to.last_name }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row-fluid question_table_row">
                    <div class='span12'>
                        <div class='div-label'>Вопрос:</div>
                        <div class='div-value' id='question_body'>{{ question.body }}</div>
                    </div>
                </div>
                <div class="row-fluid question_table_row">
                    <div class='span12'>
                        <div class='div-label'>Вопрос закрыт:</div>
                        {% if question.user_check %}
                            <div id="question_user_check" class='green_font div-value'>Вопрос закрыт</div>
                        {% else %}
                            <div id="question_user_check" class='red_font div-value'>Вопрос открыт</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row-fluid question_table_row">
                    <div class='span12 '>
                        <div class='div-label'>Дата закрытия</div>
                        <div id="question_user_check_date" class='div-value'>
                            {% if question.user_check_date %}
                                {{ question.user_check_date|date:"H:i d/m/Y" }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2"></div>
        </div>


{#    Конец вопроса #}

        <div class="row-fluid">
            <div class="span7">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="messBlock"></div>
                    </div>
                </div>
                {% if not can_not_send_mess %}
                    <div id="messForm" class="chatForm">
                        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                           {% include 'form_template.html' with form=form %}
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class='btn btn-primary btn-large'>Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
            <div class="span5"></div>
        </div>
   </div>
{% endblock %}

