{% extends 'main.html' %}

{% block title %}
    Список сокращений для компании
{% endblock %}

{% block content %}
    <h1>Список сокращений к вопросам для компаний</h1>
        <div class="preTable">
            <p>Количество компаний {{ paginator.count }}</p>
        </div>
        <table class='m_table'>
            <thead>
            <tr>
                <th>Сокращение в вопросе</th>
                <th>Название компании</th>
            </tr>
            </thead>
            <tbody>
            {% for item in companys %}
                <tr class='{% cycle 'firstTd' 'secondTd' %}'>
                    <td>{{ item.com_user.username|slice:":2" }}</td>
                    <td>{{ item.com_user.first_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Компаний нет</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <div class='postTable'></div>
    <ul class="pager">
        {% if not page_obj.has_previous %}
        <li class='disabled'>
            <a href="#">&larr; Предыдущая</a>
        {% else %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" >&larr; Предыдущая</a>
        {% endif %}
        </li>
        <span class="current_page">Страница {{ page_obj.number }} из {{ paginator.num_pages }}.</span>
        {% if not page_obj.has_next %}
        <li class='disabled'>
            <a href="#">Следующая &rarr;</a>
        {% else %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">Следующая &rarr;</a>
        {% endif %}
        </li>
    </ul>
{% endblock %}

{% block script %}

{% endblock %}
